@charset 'utf-8';
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap");

:root {
  --mw: 1440px;
  --font: "Noto Sans KR", sans-serif;
  --font1: "Noto Serif KR", serif;
  --main_c1: #a55e8f;
  --main_c2: #9f4ea3;
  --main_c3: #2b2044;
  --gray_AE: #aeaeae;
  --gray_ea: #eaeaea;
  --gray_d9: #d9d9d9;
  --font_c1: #ffffff;
  --font_c2: #000000;
  --font_c3: #aeaeae;
}
/* header영역 */
.hd {
  background-color: #3a3a3a;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.hd_menu {
  max-width: var(--mw);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hd_gnb > ul {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
}
.hd_gnb > ul > li {
  position: relative;
  padding: 3rem 0rem;
}
.hd_gnb > ul > li:hover::before {
  width: 70%;
  opacity: 1;
}
.hd_gnb > ul > li::before {
  height: 1px;
  content: "";
  position: absolute;
  background-color: var(--main_c1);
  bottom: 35%;
  opacity: 1;
  transition: 0.5s;
}
.hd_gnb a {
  display: flex;
}

.hd_gnb > ul > li span {
  color: var(--font_c1);
  font-family: var(--font);
  font-size: 20px;
  font-weight: bold;
  display: block;
  padding: 0rem 4rem 0 0.3rem;
  text-align: center;
}
.hd_gnb > ul > li:hover img {
  filter: invert(44%) sepia(60%) saturate(381%) hue-rotate(266deg)
    brightness(87%) contrast(87%);
}
.hd_gnb > ul > li:hover span {
  color: var(--main_c1);
}

.hd_gnb > ul > li:hover > .hd_sub {
  height: 120px;
}

.hd_sub {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: 0.3s;
  margin-top: 3.1rem;
  z-index: 100;
}
.hd_sub li {
  padding: 0.5rem 2rem;
  background-color: #eaeaea;
  position: relative;
}
.hd_sub li a {
  color: var(--main_c1);
}
.hd_sub li:hover::before {
  opacity: 1;
}
.hd_sub li::before {
  content: "";
  position: absolute;
  background-color: var(--main_c1);
  height: 1px;
  bottom: 7px;

  width: 60%;
  display: flex;
  opacity: 0;
  transition: 0.3s;
  justify-content: center;
  align-items: center;
}

.icons i {
  color: var(--font_c1);
  padding: 0.1rem;
  font-size: 30px;
  cursor: pointer;
}
.icons span {
  display: none;
}
.icons i:hover {
  color: var(--main_c1);
}
@media (max-width: 1150px) {
  .hd_gnb {
    display: none;
  }
  .icons {
    display: flex;
  }
  .icons span {
    display: block;
  }
}

#search_modal.on {
  display: flex;
}
#search_modal {
  /* margin-top: 7.2rem; */
  z-index: 99;
  height: 10vh;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  /* transform: translateY(-7.4rem); */
  background-color: #3a3a3a;
  position: fixed;
  border-top: 1px solid var(--gray_AE);
}
.search_inner {
  /* margin: auto; */
}
.search_form {
  max-width: var(--mw);
  display: flex;
  width: 400px;
  height: 2rem;
  justify-content: center;
  align-items: center;
}
.search_input {
  width: 100%;
  background-color: #3a3a3a;
  border: none;
  border-bottom: 1px solid #ffffff;
  padding: 9px;
  background-image: url(./img/icon_mag.svg);
  background-repeat: no-repeat;
  background-position: right;
}
.search_input::placeholder {
  color: var(--font_c1);
  letter-spacing: 3px;
  font-size: 1rem;
}
.search_input:focus {
  outline: none;
  color: var(--font_c1);
  border-bottom: 1px solid #ffffff;
  font-size: 0.8rem;
  transition: 0.8s all ease;
}

/* main 영역 */
main {
  margin-top: 15rem;
}
/* 구독배너 */

@media (max-width: 800px) {
  .subscribe_slide_br {
    display: none;
  }
  .subscribe_fix_br {
    width: 100%;
  }
  main {
    margin-top: 15vh;
  }
  .subscribe_br .subscribe_fix_br a span {
    font-size: 1.4rem;
  }
}
.subscribe_br {
  margin: auto;
  margin-top: 100px;

  max-width: var(--mw);
  display: flex;
}
.subscribe_fix_br {
  position: relative;
}
.subscribe_br .subscribe_fix_br img {
  width: 100%;
  height: 100%;
}
.subscribe_br .subscribe_fix_br a {
  color: var(--font_c1);
  background-color: #cb99c5;
  border-radius: 10px;
  width: 30%;
  height: 15%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: calc(100% / 1.45);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px -3px 0px inset #ad5eb3ad;
}
.subscribe_br .subscribe_fix_br a:hover {
  background-color: #cb99cebd;
  color: var(--font_c3);
  box-shadow: none;
}
.subscribe_br .subscribe_fix_br a span {
  font-weight: bold;
}
.subscribe_br .swiper {
  width: 1040px;
}
.subscribe_br .swiper img {
  width: 100%;
  height: 100%;
}
.br_next {
  color: var(--gray_ea);
}
.br_prev {
  color: var(--gray_ea);
}

/* 추천메뉴 */

.menu_frame {
  max-width: var(--mw);
  margin: 100px auto;
}
.title_frame {
  position: relative;
}
.title_frame::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #aeaeae;
  bottom: 1px;
}
.title_first {
  font-size: 2rem;
  color: var(--font_c2);
  font-family: var(--font1);
  font-weight: 900;
}
.title_second {
  font-size: 1rem;
  color: var(--font_c3);
  padding: 0.3rem 0 1rem;
}

/* slide */
.menu_slide {
  margin-top: 3rem;

  padding: 10px;
}
.menu_swiper {
  padding: 10px;
}
.menu_next {
  color: var(--gray_AE);
}
.menu_prev {
  color: var(--gray_AE);
}
.wine {
  width: 230px;
  box-shadow: 7px 7px 10px 0px #eaeaea;
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
}
.wine > a {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.fornt {
  padding: 1rem;
  position: relative;
  background-color: #f7f7f7;
}
.fornt .lebel {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--font_c1);
  font-weight: bold;
}
.lebel_y {
  background-color: #fed800;
  border: 3px solid #ffed72;
}
.lebel_k {
  background-color: #3c363f;
  border: 3px solid #aaa8a9;
}
.lebel_c {
  background-color: #e14573;
  border: 3px solid #f8d4e0;
}
.lebel_v {
  background-color: #a04de0;
  border: 3px solid #f0bcfd;
}
.lebel_b {
  background-color: #4673cd;
  border: 3px solid #b1d5ff;
}
.lebel_g {
  background-color: #459b4c;
  border: 3px solid #8ed588;
}

.fornt img {
  width: 100%;
}
.fornt .pd_detail {
  position: relative;
  color: var(--font_c2);
  font-family: var(--font);
  font-size: 1rem;
}
.fornt .pd_detail span {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-bottom: 0.3rem;
}
.fornt .pd_detail .pd_info1 {
  color: var(--font_c3);
  font-size: 0.75rem;
}
.back {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.5s;
  color: var(--font_c2);
  font-size: 1rem;
  font-style: var(--font);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.25rem 0;
}
.wine:hover .back {
  top: 0;
  left: 0;
  opacity: 1;
}

.star_detail {
  padding-top: 1rem;
  width: 85%;
}

.star_detail p span:first-of-type {
  font-weight: bold;
  color: var(--font_c3);
  width: 35%;
  display: inline-block;
}
.star_detail .text01 span:last-of-type {
  margin-bottom: 1rem;
}
.star_detail .text02 span:last-of-type {
  margin-bottom: 1rem;
}
.star_detail p span:last-of-type {
  width: 100%;
  display: inline-block;
}
.star_Rating {
  display: flex;
}
.star_wrap {
  width: 100px;
  font-size: 13px;
}
.star_back {
  position: absolute;
  width: 100px;
  overflow: hidden;
  color: var(--gray_ea);
  white-space: nowrap;
}

.star_Rating span:first-of-type {
  margin-right: 0.5rem;
}
.star {
  color: #ffd500;
  position: absolute;

  overflow: hidden;
  white-space: nowrap;
}
.star1 {
  width: 0px;
}
.star2 {
  width: 35px;
}
.star3 {
  width: 55px;
}
.star4 {
  width: 75px;
}
.star4_5 {
  width: 84px;
}
.star5 {
  width: 100px;
}
.grap {
  display: flex;
  flex-direction: column;
}
.grap span:nth-of-type(2) {
  background-color: #eaeaea;
  border-radius: 20px;
  height: 10px;
  position: relative;
  overflow: hidden;
}
.grap span:nth-of-type(3) {
  text-align: justify;
  text-align-last: justify;
  color: var(--gray_AE);
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
}

.grap span:nth-child(2)::before {
  content: "";
  position: absolute;
  height: 100%;
  box-shadow: 1px 1px 3px inset #a12da133;
  background-color: #9325b886;
}
.p90::before {
  width: 90%;
}
.p80::before {
  width: 80%;
}
.p70::before {
  width: 70%;
}
.p60::before {
  width: 60%;
}
.p50::before {
  width: 50%;
}
.p40::before {
  width: 40%;
}
.p30::before {
  width: 30%;
}
.p20::before {
  width: 20%;
}

/* 전체상품 */
@media (max-width: 1070px) {
  .category {
    flex-direction: column;
  }
}
@media (min-width: 541px) {
  .category_icon {
    margin-left: 3.5rem;
  }
  .category_icon img {
    padding: 2rem;
  }
}

@media (max-width: 540px) {
  .category_icon {
    margin-left: 1.5rem;
  }
  .category_icon img {
    width: 60%;
    padding: 1rem;
  }
}
.category {
  max-width: var(--mw);
  margin: auto;
  position: relative;
  margin-top: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.category_icon {
  display: block;
  float: left;
}
.category_icon a {
  display: block;
  text-decoration: none;
}
.category_icon:hover img {
  box-shadow: 3px 3px 5px 0 inset #3a3a3a23;
}

.category_icon img {
  box-shadow: 5px 5px 10px 0 inset #eaeaea;
  display: inline-block;
  margin: 0 1rem;
  border-radius: 50%;
  overflow: visible;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(231, 231, 231, 1) 33%,
    rgba(213, 213, 213, 1) 74%,
    rgba(194, 194, 194, 1) 100%
  );
}
.category_icon:hover span {
  font-weight: bold;
}
.category_icon span {
  display: block;
  color: var(--font_c2);
  padding: 0.3rem;
  justify-content: center;
  align-items: center;
}
/* 중간배너 */
@media (max-width: 1080px) {
  .event_br {
    background-image: url(./img/middlebrmw.png);
  }
}
.event_br {
  border: 1px solid black;
  position: relative;
  width: 100%;
  height: 220px;
  display: block;
  margin-top: 100px;

  background-position: center;
}
.event_br a {
  position: absolute;
  width: 100%;
  height: 100%;
  color: transparent;
}

@media (min-width: 851px) {
  .event_br {
    background-image: url(./img/middlebr.png);
  }
}
@media (max-width: 850px) {
  .event_br {
    background-image: url(./img/middlebrmw.png);
    height: 500px;
  }
}
/* 리뷰 */
@media (max-width: 1220px) {
  .review5 {
    display: none;
  }
}
@media (max-width: 1000px) {
  .review4 {
    display: none;
  }
}
@media (max-width: 760px) {
  .review3 {
    display: none;
  }
}
.review_frame {
  max-width: var(--mw);
  margin: 100px auto;
}
.review_wrap {
  display: flex;
  margin-top: 40px;
}
/* 리뷰내용 */
.review {
  display: flex;
  width: 100%;
}
.review li {
  margin-right: auto;
  width: 230px;
  height: 230px;
  overflow: hidden;
  position: relative;
  border-radius: 0.8rem;
  box-shadow: 2px 2px 10px #0000006b;
  cursor: pointer;
}
.review div {
  position: absolute;
  width: 100%;
  height: 100%;
}
.review li:hover {
  filter: brightness(80%);
}
.review div a {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.review div img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.review p {
  background-color: var(--gray_ea);
  opacity: 0.7;
  width: 100%;
  bottom: 0px;
  position: absolute;
  padding: 1rem;
  display: flex;
}
.review .review_detail {
  width: 70%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: var(--font);
  font-weight: 500;
}
.review .review_like {
  width: 30%;
  text-align: right;
  color: var(--font_c3);
}
/* 더보기 */
.plus {
  width: 50px;
  height: 230px;
  position: relative;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    30deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(231, 231, 231, 1) 15%,
    rgba(213, 213, 213, 1) 74%,
    rgba(194, 194, 194, 1) 100%
  );
  border-radius: 0.5rem;
  box-shadow: 2px 2px 3px inset #f5f5f5;
}
.plus:hover {
  box-shadow: 2px 2px 3px inset #9291912f;
}
.plus span {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: #3c363fc9;
}
/* 매거진 */
@media (max-width: 1030px) {
  .magazine8 {
    display: none;
  }
}
@media (max-width: 920px) {
  .magazine7 {
    display: none;
  }
}
@media (max-width: 785px) {
  .magazine6 {
    display: none;
  }
}
@media (max-width: 670px) {
  .magazine5 {
    display: none;
  }
}
@media (max-width: 550px) {
  .magazine4 {
    display: none;
  }
}
.magazine_frame {
  max-width: var(--mw);
  margin: auto;
}
.magazine_wrap {
  display: flex;
  margin-top: 40px;
}
.magazine {
  display: flex;
  width: 100%;
}

.magazine li {
  width: 120px;
  height: 150px;
  position: relative;
  margin-right: auto;
}
.magazine div {
  width: 100%;
  height: 100%;
  position: absolute;
}
.magazine h2 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 15%;
  width: 100%;
  font-family: var(--font);
  font-weight: 500;
  font-size: 0.9rem;
}
.magazine img {
  width: 100%;
  height: 85%;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 2px 2px 2px #0000006b;
}

.plus_m {
  width: 50px;
  height: 150px;
  position: relative;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(231, 231, 231, 1) 23%,
    rgba(213, 213, 213, 1) 74%,
    rgba(194, 194, 194, 1) 100%
  );

  border-radius: 0.5rem;
  box-shadow: 2px 2px 3px inset #f5f5f5;
}
.plus_m:hover {
  box-shadow: 2px 2px 3px inset #9291912f;
}
.plus_m span {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #3c363fc9;
}
.magazine div a {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.magazine li:hover {
  opacity: 0.8;
}
footer {
  margin-top: 200px;
  background-color: #3a3a3a;
  height: 18rem;
}
.footer_wrap {
  margin: 0 auto;
  max-width: var(--mw);
  /* position: relative; */
  display: flex;
  justify-content: space-between;
}

.footer_detail1 {
  display: flex;
  flex-direction: column;
  color: var(--font_c1);
  font-family: var(--font);
  font-size: 0.75rem;
}
.footer_detail1 img {
  width: 82px;
  padding: 1rem 0 2rem;
}

.footer_detail2 {
  margin-top: 1.5rem;
  text-align: right;

  display: flex;
}

.footer_detail2 .footer_link a {
  color: var(--font_c1);
}
.footer_detail2 .footer_icon {
}
.footer_detail2 .footer_icon a {
  color: var(--font_c1);
  font-size: 2rem;
}
.footer_wrap .qrcode {
  margin-left: 0.4rem;
  width: 115px;
  height: 115px;
}
/* 로그인 팝업 */
#modal.on {
  display: flex;
}

#modal {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  border: 1px solid red;
  top: 0;
  z-index: 100000;
  background-color: rgba(0, 0, 0, 0.6);
}
#modal .login_frame {
  /* position: absolute; */
  border: 3px solid white;
  margin: auto;
  width: 650px;
  height: 550px;
  position: relative;
}
.login_wrap {
  background-color: var(--gray_d9);
  width: 650px;
  height: 415px;
  position: absolute;
  z-index: 980;
  top: 25%;
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.185);
}
.login_page {
  position: absolute;
  top: -10%;
  left: 5%;
  background-color: var(--main_c3);
  width: 320px;
  height: 500px;
  border-radius: 5px;
  box-shadow: 2px 0 5px #0000002a;
  transition: all 0.5s;
  z-index: 2;
}
.nodisplay {
  display: none;
  transition: all 0.5s;
}
.login_page_r {
  position: absolute;
  width: 50%;
  right: -2%;
}
.login_frame h2 {
  font-family: var(--font1);
  text-align: center;
  margin-top: 95px;
  text-transform: uppercase;
  color: var(--font_c1);
  font-size: 2rem;
  letter-spacing: 4px;
}
.purpledoglogo {
  position: absolute;
  width: 300px;
  height: 180px;
  top: 50%;
  left: 18%;
  transform: translateX(-15%) translateY(-75%);
}
button {
  padding: 10px;
  font-family: var(--font1);
  font-size: 0.8rem;
  font-weight: 700;
  background-color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 0.8rem;
  margin: auto;
  outline: none;
  display: block;
}
button:hover {
  background-color: var(--main_c2);
  color: var(--font_c1);
}
.button {
  margin-top: 3%;
}
.login_page_r {
  /* width: 40%; */
  height: 100%;
}
.button_r {
  transform: translateX(5%) translateY(18rem);
}
.login_icon {
  transform: translateX(38%) translateY(18.3rem);
  display: flex;
}
.login_icon img {
  width: 40px;
  margin-left: 3px;
}
.button form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.5rem;
}
.padding {
  padding: 35px;
}
.padding input {
  padding: 12px;
}
.padding .bt_sub {
  margin-top: 45px;
}
.bt_sub {
  margin-top: 25px;
  padding: 12px;
}
.login_input {
  background-color: var(--main_c3);
  width: 85%;
  color: var(--gray_ea);
  border: none;
  border-bottom: 1px solid var(--gray_ea);
  padding: 9px;
  margin: 7px;
}
.login_input::placeholder {
  color: var(--font_c1);
  letter-spacing: 1px;
  font-size: 1rem;
  font-weight: 200;
}
.login_input:focus {
  outline: none;
  font-size: 1rem;
}
.login_input:focus::placeholder {
  opacity: 0;
}
label {
  font-family: var(--font1);
  color: var(--font_c1);

  font-size: 0.9rem;
  letter-spacing: 1px;
}
.checkbox .checkbox_input {
  width: 10px;
  border: 1px solid white;
  position: relative;
  display: inline;
  white-space: nowrap;
}

.checkbox_input[type="checkbox"] {
  width: 15px;
}

/* 리뷰 모달 */
#review_overlay_m.on {
  display: flex;
}
#review_overlay_m {
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.185);
}
.review_modal {
  display: flex;
  width: 800px;
  height: 500px;
  border-radius: 1rem;
  overflow: hidden;
}

.review_img {
  background-color: #000000;
  width: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
}
.review_img img {
  width: 100%;
}
.review_detail_M {
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  font-family: var(--font);
  background-color: #ffffff;
}
.report_function {
  text-align: right;
  width: 100%;
  height: 5%;
  margin-bottom: 1rem;
  color: var(--font_c3);
  cursor: pointer;
}
.review_detail_M h2 {
  font-size: 1.2rem;
  font-weight: 600;
  height: 10%;
  width: 100%;
}
.review_detail_M p {
  width: 100%;
  height: 60%;
  display: -webkit-box;
  -webkit-line-clamp: 14;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: normal;
  font-weight: 400;

  margin-bottom: 2.3rem;
}
.review_member_wrap {
  width: 100%;
  height: 10%;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.review_member {
  display: flex;
}
.review_member img {
  height: 100%;
}

.review_member_wrap .member_name {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.review_member_wrap .review_like_m {
  display: flex;
  align-items: center;
  cursor: pointer;
}
